# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log

# Variables
*.tfvars
*.tfvars.json

# OS / Editor
.DS_Store
.vscode/
.idea/
.venv
__pycache__
Logs/*
*.mp3
*.webm

# Github
!*.gitkeep