# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log

# Variables
*.tfvars
*.tfvars.json

# OS / Editor
.DS_Store
.claude/
.vscode/
.idea/
.venv
__pycache__
Logs/*
*.mp3
*.webm
.codex

# Github
!*.gitkeep

# Github Codespaces
awscliv2.zip
aws/

# Credentials
Youtube_Cookies.txt
.env
.env.*

# Private
Utils/Custom_Messages.py
test.py
